#hidden_form_0 {
    background-color: red;
}

#hidden_form_1 {
    background-color: blue;
}

#hidden_form_2 {
    background-color: aqua;
}

#basic {
    width: 100px;
    height: 100px;
    background-color: red;
}

#doubleSize {
    width: 200px;
    height: 200px;
    background-color: blue;
}